.set01 {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  background-color: $colorMain;
  margin: $margin;
  padding : $padding;
}

.set01 > nav {
  min-width:$minWidth;
  background-color: $colorNav;
  margin: $margin;
  padding : $padding;
  order: 1;
  flex: 1 0 calc(20% - #{$spacer});
}

.set01 > article {
  min-width:$minWidth;
  background-color: $colorArticle;
  margin: $margin;
  padding : $padding;
  order: 2;
  flex: 3 0 calc(60% - #{$spacer});
}

.set01 > aside {
  min-width:$minWidth;
  background-color: $colorAside;
  margin: $margin;
  padding : $padding;
  flex: 1 2 calc(20% - #{$spacer});
  order: 3;
}


