.set03 {
  display: flex;
  flex-flow: row wrap;
  background-color: $colorMain;
  margin: $margin;
  padding: $padding;
  justify-content: center;
}

.set03 > section {
  max-width: 200px;
  margin: $margin;
  background-color: $colorSection;
  min-width: $minWidth;
  padding: $padding;
  position: relative;
  h2 {
    position: absolute;
    top: to-add($padding, $padding);
    left: to-add($padding, $padding);
    padding:$padding;
    background-color: $colorContentBackground;
    border-radius: to-add($padding, $padding);
  }
  p {
    position: absolute;
    right: to-add($padding, $padding);
    bottom: to-add($padding, $padding);
    padding:$padding;
    background-color: $colorContentBackground;
  }
  img{
    border: 1px solid $colorBorder;
    width: calc(100% - 2px);
  }
}

